.maintable{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    }
    .subtable{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    }
    .time{
        background-color: rgb(170, 167, 167);
        width:10%;
    }
    
   .mainheader{ background-color: deepskyblue;}
   .subheader{background-color:burlywood;}