.event{
    background-color:rgb(201, 247, 253);
    box-shadow:0px 10px 30px;
    border:1px solid #000;

}

.stage{
    height:100px;
    font-size:70px;
}
#mainstage{
    background-color: rgb(25, 177, 248);
}

    
.maintable{
margin: 0 auto;         /* 余白の削除  中央ぞろえ*/
padding: 0;        /* 余白の削除 */
width:100%;
height:100%;
position:relative;
border:10px rgb(213, 247, 135) solid;
}
.maintable,th{
    border:10px rgb(213, 247, 135) solid;
}

.time{
    background-color: rgb(27, 216, 105);
    width:10%;
    height:50%;
}

.favorite{
    width:10%;
    padding: 0%;

}

#js-favorite0{
    height:100%;
}

.fav_button{
background-color: rgb(72, 243, 149);
width:100%;
height:100%;
}
#upfav_button0{/*ここをいじればいいな*/
    background-color: rgb(72, 243, 149);
    width:100%;
    height:100%;
    }
}


.star{
    position:relative; 
    font-size: 20px;
    color:#FFFFFF; 
}
.details{
display:none;
top:30%;
right:40%;
animation: details 5s cubic-bezier(.4,0,.2,1);
position:absolute; 
background-color:rgba(20, 218, 191, 0.9);
color:black;
font-weight:bold;
z-index:1;
position:fixed;
background-size:cover;/*内容に合わせて大きさを変えてくれます*/

padding-right:3%;
padding-left: 3%;
padding-bottom:3%;
        }        
        
    .text{
        padding-top: 3%;
        top:auto;
        float: left;
        width:50%;
    }
    .close_button{

       position:fixed;/*ボタンの配置ですが、テキストの初めに二回改行することで
                        無理やり被らなくしています*/
        width: 10%;
        height:5%;
    }
    
    .content{
        padding-top: 3%;
        padding-right:5%;
        text-justify: auto;
        float:left;
        width:45%; /*画像にはもともと「サイズがない？」からか
        　　　　　　　サイズを設定してあげないと background-size:coverが
                    反応しないみたいですtextとcontentのwidthを合わせて１００％
                    以内に抑えないと勝手に改行します
                    ただしなぜか画像のサイズを変えられません*/  
    }
